@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  scroll-behavior: smooth;
  text-decoration: none;
}
.smP {
  display: none;
}
.logo {
  position: absolute;
}

header {
  max-width: 1600px;
  padding: 0 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: #000000;
  backdrop-filter: blur(2px);
}
header a {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  text-decoration: none;
}
.header_left {
  display: flex;
}
.header_left {
  display: flex;
  align-items: center;
}
.header_left h1 {
  width: 82px;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  margin-right: 63px;
  padding: 4px;
  text-align: center;
  color: #ffffff;
  border: 1.18841px solid #ffffff;
}
.header_left a {
  color: #ffffff;
  margin-right: 58px;
  text-decoration: none;
}
.header_links a.active {
  color: #f9804b;
}
.header_links {
  display: flex;
  align-items: center;
}
header a:hover {
  text-decoration: underline;
  color: #f9804b;
}
.header_right a {
  white-space: nowrap;
}

.header_right .burger-menu-icon {
  color: white;
  height: 10px;
  width: 18px;
  display: none;
}
/* banner ------------------------ */

.banner {
  /* max-width: 1600px; */
  width: 100%;
  height: 780px;
  background-image: url(../../assets/images/GiantPanda.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12px 220px;
  position: relative;
}

.banner .banner-ellipse {
  position: absolute;
  background-image: url("../../assets/images/EllipseBig.png");
  background-size: cover;
  z-index: 1;
  right: 328px;
  height: 465px;
  width: 465px;
}
.banner_text {
  position: absolute;
  right: 190px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  justify-content: space-between;
  height: 600px;
  align-items: center;
}
.banner_text h1 {
  z-index: 10;
  /* position: absolute; */
  width: 531px;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-transform: uppercase;
  color: #ffffff;
  top: 80px;
  text-align: center;
}
.banner_text h1 > span {
  color: #ffee2e;
}
.banner_text a {
  width: 298px;
  padding: 16px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
}
.banner_text a:hover {
  background: #e47209;
}
.banner_text a:active {
  background: #4b9200;
}
/* main----- ----------*/

main {
  padding: 80px 220px;
  position: relative;
}
main .watch-online-mobile {
  display: none;
  padding: 16px;
  cursor: pointer;
  width: 100%;
  margin: auto;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;

  color: white;
  text-align: center;
  text-transform: uppercase;
}
.main_flower_top_right {
  position: absolute;
  right: 0;
  top: 12px;
  width: 200px;
  /* height: 605px; */
  object-fit: cover;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.main_flower_left_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 230px;
  /* height: 460px; */
}
.main_flower_right_bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 230px;
  width: 238px;
  height: 275px;
  /* height: 460px; */
}
main .backstage_section {
  display: flex;
  align-items: center;
  margin: 80px auto;
  margin-bottom: 140px;
}
main .backstage_section img {
  margin-right: 60px;
  width: 609px;
  height: 403px;
}
.backstage_section_right {
  align-items: center;
}
.backstage_section_right h1 {
  font-weight: 400;
  font-size: 42px;
  line-height: 120%;
  margin-bottom: 14px;
  /* or 58px */
  color: #333b41;
}
.backstage_section_right h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 50%;
  /* identical to box height, or 29px */
  margin: 44px 0;
  color: #333b41;
}
.backstage_section_right p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */

  color: #333b41;
}
.animals_cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;
  margin-bottom: 80px;
}
.animals_cards section {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #fa6f32;
}
.animals_cards section > img {
  width: 100%;
}
.animals_card_bottom_text {
  padding: 10px;

  display: flex;
  justify-content: space-between;
}
.animals_card_bottom_text h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;

  text-transform: uppercase;

  color: #000000;
}

.animals_card_bottom_text p {
  font-weight: 300;
  font-size: 15px;
  color: #000000;
}
.animals_card_bottom_text img {
  width: 33px;
  height: 37px;
  object-fit: cover;
}
.main_button {
  display: block;
  margin: auto;
  width: 298px;
  height: 54px;
  border-radius: 25px;
  border: none;
  background: #fe9013;

  cursor: pointer;
}
.main_button a {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.main_button:hover {
  background: #e47209;
}
.main_button:active {
  background: #4b9200;
}

/* pick_friedn_section */
.pick_friend_section {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  padding: 70px 220px 100px;
}
.pick_friend_card {
  width: 100%;
  margin: auto;
  padding: 41px 100px;
  height: 800px;
  background: rgba(253, 253, 255, 0.52);
  /* backdrop-filter: blur(2px); */
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
}
.pick_friend_card h1 {
  text-align: center;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */

  text-align: center;

  color: #fe9013;
}
.pick_friend_card h4 {
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
}
.pick_friend_card h6 {
  margin-top: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
}
.pick_friend_card p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
}
.pick_friend_card h2 {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333b41;
  margin-top: 58px;
}
.payment_method {
  /* display: grid; */
  /* grid-template-columns: repeat(3, auto); */
  display: flex;
  align-items: center !important;
  justify-content: space-between !important;
  margin-top: 40px;
}
.payment_method section {
  width: 168px;
  height: 168px;
}
.pick_friend_border {
  width: 168px;
  height: 168px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 5px;
}
.feed_friend_button {
  width: 298px;
  height: 54px;
  font-weight: 500;
  margin-left: 250px;
  margin-top: 76px;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.feed_friend_button:hover {
  background: #e47209;
  border-radius: 25px;
}
.feed_friend_button:active {
  background: #4b9200;
  border-radius: 25px;
}
/* testimonial container ----*/

.testimontal_container {
  padding: 140px 220px;
}
.testimontal_container > h1 {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333b41;
}
.testimonials_feedback_container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 30px;
  margin-top: 47px;
}
.feedback_person {
  width: 100%;
  padding: 15px;
  background: #f1f3f2;
  border-radius: 20px;
  min-width: 268px;
}
.every_feedback {
  display: flex;
  align-items: center;
}
.about_page {
  margin-left: 10px;
}
.about_page h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}
.location_time {
  display: flex;
  align-items: center;
}
.location_time p {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #bdbdbd;
}

.feedback_person > p {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  margin-top: 11px;
  color: #767474;
}
.testimontal_container label {
  width: 599px;
  height: 30px;
  display: block;
  margin: auto;
  margin-top: 22px;
  background-color: white;
  border-radius: 10px;
}
label progress {
  width: 100%;
}

.feedback_button {
  width: 298px;
  height: 54px;
  margin-top: 32px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.feedback_button:hover {
  background: #e47209;
  border-radius: 5px;
}
.feedback_button:active {
  background: #4b9200;
  border-radius: 5px;
}
.feedback_button a {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
/* footer */
footer {
  background: #111115;
  padding: 45px 220px;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
}
.footer_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_left > a {
  text-decoration: none;
  margin-bottom: 74px;
}
.footer_left > a h1 {
  font-weight: 400;
  font-size: 19.01px;
  color: #ffffff;
  line-height: 120%;
  border: 1.2px solid #ffffff;
  text-align: center;
  width: 73.49px;
  padding: 1px;
}
.footer_left .donate_button {
  width: 298px;

  padding: 16px 0;
  font-weight: 500;
  font-size: 16px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  border: none;
  margin-bottom: 44px;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  line-height: 16px;
  text-decoration: none;
}
.footer_social_network {
  display: flex;
  flex-direction: column;
}
.footer_social_network a {
  margin-top: 13px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.footer_social_network a span {
  margin-left: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.footer_center {
  height: 100%;
  align-self: flex-end;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_center a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  white-space: nowrap;
  font-size: 16px;
  line-height: 140%;
  margin-right: 50px;
}

.footer_center a.active {
  color: #f9804b;
}
.footer_center a:hover {
  text-decoration: underline;
  color: #f9804b;
}
.footer_right {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_right_top h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 14px;
  white-space: nowrap;
}
.footer_right_top .submit_container {
  display: flex;
}
.footer_right_top .submit_container input {
  width: 228px;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #f9804b;
  border-radius: 2px;
  outline: none;
  padding: 10px;
  margin-right: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #bdbdbd;
  line-height: 140%;
}
.footer_right .submit_container input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #bdbdbd;
  line-height: 140%;
}
.submit_container button {
  width: 129px;
  height: 42px;
  color: #4b9200;
  border: 1px solid #4b9200;
  border-radius: 5px;
  cursor: pointer;
}

.submit_container button:active {
  background: #f1f3f2;
  border: 1px solid #4b9200;
  border-radius: 5px;
}
.footer_right_bottom {
  display: flex;
  justify-content: flex-end;
}
.footer_right_bottom p {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  cursor: pointer;
}

/* Mobile siz responsive   */

@media screen and (max-width: 321px) {
  .smP {
    display: block;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #4f4f4f;
    margin-top: 10px;
  }
  .text_feedback {
    display: none;
  }
  header {
    height: 34px;
    padding: 0 10px;
    width: 100%;
    max-width: 321px;
  }
  header .logo {
    top: 13px;
    width: 4px;
    height: 13px;
  }
  .header_left h1 {
    font-size: 10.2899px;
    width: 46px;
    border: none;
  }
  .header_links,
  .header_right a {
    display: none;
  }
  .header_right .burger-menu-icon {
    display: block;
  }
  /* banner  for mobile------------- */

  .banner {
    /* max-width: 1600px; */
    max-width: 320px;
    height: 186.96px;
    background-image: url(../../assets/images/Pandaformobile.svg);
    padding: 20px;
  }

  .logo {
    margin-right: 146px;
  }
  .banner .banner-ellipse {
    background-image: url("../../assets/images/Ellipseformobile.svg");
    width: 119px;
    height: 119px;
    right: 30px;
  }
  .banner_text {
    right: 10px;
    z-index: 10;
    padding-top: 20px;
    height: 102px;
  }
  .banner_text h1 {
    z-index: 10;
    width: 128px;
    top: 40px;
    font-size: 28px;
  }

  .banner_text a {
    display: none;
  }
  /* main for mobile */

  main {
    padding: 20px 10px;
    position: relative;
  }
  main .watch-online-mobile {
    display: block;
  }
  .main_flower_top_right {
    display: none;
    top: 12px;
    width: 200px;
    /* height: 605px; */
  }
  .main_flower_left_bottom {
    display: none;
    width: 230px;
    /* height: 460px; */
  }
  .main_flower_right_bottom {
    display: none;
    width: 230px;
    width: 238px;
    height: 275px;
    /* height: 460px; */
  }
  main .backstage_section {
    display: flex;
    align-items: center;
    margin: 20px auto;
  }
  main .backstage_section img {
    display: none;
  }
  .backstage_section_right {
    align-items: center;
  }
  .backstage_section_right h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .backstage_section_right h3 {
    margin: 10px 0;
  }

  .animals_cards {
    grid-template-columns: auto;
    grid-gap: 15px;
    padding: 10px;
  }
  .animals_card_bottom_text img {
    width: 25.72px;
    height: 28.84px;
  }

  .animals_cards section:nth-child(5),
  .animals_cards section:nth-child(6) {
    display: none;
  }
  .main_button {
    width: 100%;
  }
  /* pick_friend_section-----  */

  .pick_friend_section {
    padding: 20px 0px;
  }
  .pick_friend_card {
    width: 90%;
    margin: auto;
    padding: 20px 5px;
    height: 940px;
    background: rgba(253, 253, 255, 0.52);
    /* backdrop-filter: blur(2px); */
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;
  }

  .pick_friend_card h1 {
    font-size: 24px;
  }
  .pick_friend_card h4 {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
  }
  .pick_friend_card h6 {
    display: none;
  }
  .pick_friend_card p {
    display: none;
  }
  .pick_friend_card h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  .payment_method {
    /* display: grid;
    grid-template-columns:; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .feed_friend_button {
    font-size: 16px;
    width: 298px;
    height: 54px;
    padding: 16px 1px;
    display: block;
    margin: auto;
    margin-top: 80px;
  }

  /*-------Testimontals-------*/
  .testimontal_container {
    padding: 30px 11px;

    text-align: center;
  }
  .testimonials_feedback_container {
    grid-template-columns: auto;
    margin-top: 0;
    grid-gap: 20px;
    justify-content: center;
  }
  .testimonials_person .text_feedback {
    display: none;
  }
  .testimontal_container > h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .feedback_person:nth-child(3) {
    display: none;
  }
  .testimontal_container > label {
    display: none;
  }

  .feedback_button {
    width: 240px;
    height: 54px;
  }

  /*-----Footer -------- */
  /* Footer  container mobile */
  footer {
    padding: 20px 10px;
  }
  .footer_container {
    flex-direction: column;
  }
  .footer_left {
    order: 1;
    align-items: center;
  }
  .footer_left > a {
    margin-bottom: 30px;
    order: 1;
  }
  .footer_left > a h1 {
    width: 130px;
    white-space: nowrap;
  }
  .footer_left .donate_button {
    order: 3;
    margin: 30px 0;
  }
  .footer_social_network {
    order: 2;
    padding: 0 63px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }

  .footer_social_network a span {
    display: none;
  }

  .footer_center {
    order: 3;
    margin-top: 30px;
    padding-bottom: 0 11px;
    width: 100%;
    justify-content: space-between;
  }
  .footer_center a {
    margin-right: 30px;
  }
  .footer_right {
    order: 2;
    height: auto;
    width: 100%;
  }

  .footer_right_top {
    display: none;
  }

  .footer_right_bottom p {
    font-size: 15px;
    line-height: 40px;
  }
}
/* table responsive------ */
/* table responsive------ */
/* table responsive------ */
/* table responsive------ */
/* table responsive------ */
/* table responsive------ */
/* table responsive------ */
/* table responsive------ */
/* table responsive------ */
/* table responsive------ */
@media screen and (min-width: 321px) and (max-width: 641px) {
  .smP {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #4f4f4f;
    margin-top: 10px;
  }

  header {
    height: 40px;
    padding: 3px 20px;
    width: 100%;
    max-width: 641px;
  }
  header .logo {
    top: 13px;
    width: 4px;
    left: 34px;
    height: 13px;
  }
  .header_left h1 {
    font-size: 11.2899px;
    width: 60px;
    height: 35px;
    padding-bottom: 5px;
    border: none;
  }
  .header_links,
  .header_right a {
    display: none;
  }
  .header_right .burger-menu-icon {
    display: block;
  }
  /* banner  for mobile------------- */

  .banner {
    /* max-width: 1600px; */
    width: 100%;
    max-width: 640px;
    height: 340.96px;
    background-image: url(../../assets/images/Pandaformobile.svg);
    padding: 20px;
  }

  .banner .banner-ellipse {
    width: 237px;
    height: 237px;
    right: 70px;
  }
  .banner_text {
    right: 10px;
    z-index: 10;
    padding-top: 20px;
    height: 270px;
  }
  .banner_text h1 {
    width: 255px;
    top: 40px;
    font-size: 54px;
  }

  .banner_text a {
    display: block;
    margin-left: -600px;
  }
  /* main for mobile */

  main {
    padding: 60px 24px;
    position: relative;
  }
  main .watch-online-mobile {
    display: none;
  }
  .main_flower_top_right {
    top: 12px;
    width: 100px;
    /* height: 605px; */
  }
  .main_flower_left_bottom {
    width: 100px;
  }
  .main_flower_right_bottom {
    width: 200px;
    height: 130px;
  }
  main .backstage_section {
    display: flex;
    align-items: center;
    margin: 20px 0;

    width: 90%;
  }
  main .backstage_section img {
    display: none;
  }
  .backstage_section_right {
    align-items: center;
  }
  .backstage_section_right h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  .backstage_section_right h3 {
    margin: 20px 0;
  }

  .animals_cards {
    grid-template-columns: repeat(2, auto);
    grid-gap: 30px;
    padding: 10px;
    margin-top: 60px;
  }
  .animals_card_bottom_text img {
    width: 25.72px;
    height: 28.84px;
  }

  .animals_cards section:nth-child(5),
  .animals_cards section:nth-child(6) {
    display: none;
  }
  .main_button {
    width: 298px;
  }
  /* pick_friend_section-----  */

  .pick_friend_section {
    padding: 20px 0;
  }

  .pick_friend_card {
    width: 100%;
    margin: auto;
    padding: 10px 20px;
    background: rgba(253, 253, 255, 0.52);
    height: auto;
    border-radius: 20px;
    padding-bottom: 60px;
  }

  .pick_friend_card h1 {
    font-size: 42px;
    margin-bottom: 0;
  }
  .pick_friend_card h4 {
    font-size: 22px;
    margin: 0;
    text-align: left;
  }

  .pick_friend_card h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  .payment_method {
    /* display: grid;
    grid-template-columns:; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .pick_friend_border img {
    padding: 30px 20px;
  }
  .strelka {
    display: none;
  }
  .feed_friend_button {
    font-size: 16px;
    width: 298px;
    padding: 16px 0;
    display: block;
    margin: auto;
    margin-top: 80px;
  }

  /*-------Testimontals-------*/
  .testimontal_container {
    padding: 30px 11px;

    text-align: center;
  }
  .text_feedback {
    display: none;
  }
  .mdP {
    display: block;
    text-align: left;
    font-size: 14px;
  }
  .testimonials_feedback_container {
    grid-template-columns: auto;
    margin-top: 0;
    grid-gap: 15px;
    justify-content: center;
  }
  .testimonials_person .text_feedback {
    display: none;
  }
  .testimontal_container > h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .feedback_person:nth-child(3) {
    display: none;
  }
  .testimontal_container > label {
    display: none;
  }

  .feedback_button {
    width: 240px;
    height: 54px;
  }

  /*-----Footer -------- */
  /* Footer  container mobile */

  footer {
    padding: 20px;
  }
  .footer_container {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .footer_left {
    order: 1;
    width: 100%;
    position: relative;
  }
  .footer_left > a {
    margin-bottom: 30px;
    order: 1;
  }
  .footer_left > a h1 {
    width: 82px;
    height: 52px;
  }
  .footer_left .logo {
    left: 5px;
    top: 20px;
  }
  .footer_left .donate_button {
    order: 2;
    margin: 30px 0;
  }
  .footer_social_network {
    order: 3;
    padding: 0;
    justify-content: space-between;
    right: 0;
    position: absolute;
  }

  .footer_social_network a span {
    display: none;
  }

  .footer_center {
    order: 3;
    margin-top: 30px;
    padding-bottom: 0 11px;
    width: 50%;
    justify-content: flex-start;
    align-self: flex-start;
  }
  .footer_center a {
    margin-right: 30px;
  }
  .footer_right {
    order: 2;
    height: auto;
    width: 100%;
  }

  .footer_right_top {
    display: none;
  }
  .footer_right_bottom {
    width: 50%;
    align-self: flex-end;
    position: absolute;
    bottom: -2px;
  }
  .footer_right_bottom p {
    font-size: 15px;
    line-height: 35px;
  }
}

/* small desktop responsive--------*/
/* small desktop responsive--------*/
/* small desktop responsive--------*/
/* small desktop responsive--------*/
/* small desktop responsive--------*/
/* ----------------------------- */
@media screen and (min-width: 641px) and (max-width: 1001px) {
  .smP {
    display: none;
  }
  .logo {
    position: absolute;
  }

  header {
    max-width: 1001px;
    padding: 14px 30px;
  }

  .header_links a {
    margin-right: 58px;
  }

  /* banner ------------------------ */

  .banner {
    /* max-width: 1600px; */

    max-width: 1000px;
    height: 800px;
    padding: 0 84px;
  }

  .banner .banner-ellipse {
    z-index: 1;
    right: 100px;
    width: 367px;
    height: 367px;
  }
  .banner_text {
    position: absolute;
    right: 1px;
    z-index: 10;
    padding-top: 80px;
    justify-content: space-between;
    height: 600px;
    align-items: center;
  }
  .banner_text h1 {
    z-index: 10;
    /* position: absolute; */
    width: 531px;
    font-weight: 700;
    font-size: 85px;
    top: 80px;
  }

  .banner_text a {
    padding: 16px 0;
  }

  /* main----- ----------*/

  main {
    padding: 80px 30px;
    position: relative;
  }

  .main_flower_top_right {
    display: none;
  }
  .main_flower_left_bottom {
    height: 202px;
  }
  .main_flower_right_bottom {
    width: 241px;
    height: 180px;
  }
  main .backstage_section {
    margin: 100px auto;
    margin-bottom: 142px;
  }
  main .backstage_section img {
    margin-right: 30px;
    width: 455px;
    height: 408px;
  }

  .backstage_section_right h1 {
    font-size: 48px;
  }
  .backstage_section_right h3 {
    margin-top: 54px;
    margin-bottom: 34px;
  }

  .animals_cards {
    grid-gap: 29px;
    margin-bottom: 80px;
  }

  .animals_card_bottom_text {
    padding: 8px;
  }

  .animals_card_bottom_text img {
    height: 30px;
  }

  /* pick_friedn_section */
  .pick_friend_section {
    padding: 30px 30px 50px;
  }
  .pick_friend_card {
    padding: 30px 50px;
    height: 796px;
  }

  .pick_friend_card h4 {
    margin-top: 20px;
  }
  .pick_friend_card h6 {
    margin-top: 20px;
  }

  .pick_friend_card h2 {
    margin-top: 40px;
  }

  .feed_friend_button {
    font-size: 16px;
    width: 298px;
    padding: 16px 0;
    display: block;
    margin: auto;
    margin-top: 80px;
  }

  /* testimonial container ----*/

  .testimontal_container {
    padding: 100px 30px;
    padding-bottom: 140px;
  }

  .testimonials_feedback_container {
    margin-top: 30px;
  }
  .feedback_person:nth-child(4) {
    display: none;
  }
  .feedback_person {
    max-width: 293px;
  }

  .feedback_person > p {
    margin-top: 11px;
  }
  .testimontal_container label {
    margin-top: 20px;
  }

  .feedback_button {
    margin-top: 52px;
  }

  /* footer */
  footer {
    padding: 40px 30px;
  }

  .footer_center a {
    margin-right: 44px;
  }

  .footer_right {
    margin-left: -160px;
  }
}
