/* donation page ----- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  scroll-behavior: smooth;
}

/* header_section */
.logo {
  position: absolute;
}
header {
  max-width: 1600px;
  padding: 0 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: #000000;
  backdrop-filter: blur(2px);
}

header a {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  text-decoration: none;
}
.header_left {
  display: flex;
}
.header_left {
  display: flex;
  align-items: center;
}
.header_left h1 {
  width: 82px;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  margin-right: 63px;
  padding: 4px;
  text-align: center;
  color: #ffffff;
  border: 1.18841px solid #ffffff;
}
.header_left a {
  color: #ffffff;
  margin-right: 58px;
  text-decoration: none;
}
.header_left a.active {
  color: #f9804b;
}
header a:hover {
  text-decoration: underline;
  color: #f9804b;
}
.header_right .burger-menu-icon {
  color: white;
  height: 10px;
  width: 18px;
  display: none;
}

.banner {
  /* max-width: 1600px; */
  width: 100%;
  height: 780px;
  background-image: url(../../assets//images/GiantPanda.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12px 12%;
  position: relative;
}

/* body_section */
body {
  max-width: 1600px;
}
/* body_section */
body {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}
/* pick feed container ----- */

.donation_top {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 40px 220px;
}
.donation_top h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;
}
.donation_top p {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
.donation_top h3 {
  margin-top: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
}
.pickContainer {
  padding: 60px 220px;
}
.pick_feed_container {
  display: grid;
  justify-content: center;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
  padding: 40px 92px;
  margin: auto;
}
.pick_feed_container h1 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #fe9013;
}
.pick_feed_container .number_diet p {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
  text-align: center;
  white-space: nowrap;
}
.panda_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 48px 0;
}

.number_diet h1 {
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.number_diet p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333b41;
}
.range_food {
  width: 100%;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #404950;
  border-radius: 2px;
  margin-top: 17px;
}
.range_food .range_line {
  width: 100%;
  height: 2px;
  background: #72828e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 26px;
}
.range_line .range_dots {
  height: 10px;
  width: 10px;
  background-color: #ffee2e;
  border-radius: 50%;
  cursor: pointer;
}
.range_moneys {
  width: 100%;
  display: flex;
  padding: 0 10px;
  margin-top: 12px;
  align-items: center;
  justify-content: space-between;
}
.feed_submit_container {
  display: grid;
  justify-content: center;
  margin-top: 50px;
}
.input_amount {
  display: flex;
  width: 298px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0 9px;
  height: 54px;
  border: 1px solid #929699;
  background-color: transparent;
}
.input_amount h1 {
  width: 10px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #929699;
}
.input_amount input {
  border: none;
  background-color: transparent;
  outline: none;
}
.input_amount input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  color: #929699;
}
.input_amount input::-webkit-outer-spin-button,
.input_amount input::-webkit-inner-spin-button {
  display: none;
}
.range_payment {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}
.range_payment input {
  border: 1px solid #fe9013;
  background-color: transparent;
  cursor: pointer;
}
.monthly_radio {
  display: flex;
}
.monthly_radio span {
  margin-left: 10px;
}
.radio {
  accent-color: #4b9200;
}
.radio:active {
  box-sizing: border-box;
  background: #4b9200;
  border: 1px solid #4b9200;
}

.feed_button {
  display: grid;
  justify-content: center;
}
.feed_button button {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  font-size: 16px;
  line-height: 140%;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.feed_button button:hover {
  background: #e47209;
  border-radius: 25px;
}
.feed_button button:active {
  background: #4b9200;
  border-radius: 25px;
}
.feed_button p {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
}

/* footer_section */

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111115;
  padding: 45px 220px;
}
.donate_button {
  width: 298px;
  height: 54px;
  margin-top: 76px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  border: none;

  margin-bottom: 44px;
  cursor: pointer;
}
.donate_button a {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.social_network {
  display: grid;
}
.social_network img {
  margin-top: 10px;
  cursor: pointer;
}

.header_center {
  display: flex;
  align-items: flex-end;
  margin-top: 360px;
}
.header_center h1 {
  width: 82px;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  margin-right: 63px;
  padding: 4px;
  text-align: center;
  color: #ffffff;
  border: 1.18841px solid #ffffff;
}
.header_center a {
  color: #ffffff;
  margin-right: 58px;
  text-decoration: none;
  white-space: nowrap;
}
.header_center a.active {
  color: #f9804b;
}
.header_center a:hover {
  text-decoration: underline;
  color: #f9804b;
}
.subscribe_container h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 14px;
}
.submit_container {
  display: flex;
  align-items: center;
}
.submit_container input:first-child {
  width: 228px;
  height: 42px;
  box-sizing: border-box;
  background: #111115;
  color: white;
  border: 2px solid #f9804b;
  border-radius: 2px;
  padding: 10px;
  margin-right: 10px;
}
.submit_container button {
  width: 129px;
  height: 42px;
  color: #4b9200;
  border: 1px solid #4b9200;
  border-radius: 5px;
  cursor: pointer;
}

.submit_container button:active {
  background: #f1f3f2;
  border: 1px solid #4b9200;
  border-radius: 5px;
}
.subscribe_container p {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  margin: 100px 0 0 0;
  color: #ffffff;
  cursor: pointer;
  margin-top: 70%;
}
@media screen and (max-width: 320px) {
  .header_right .burger-menu-icon {
    display: block;
  }
}
